
* {
    background-color: darkgray;
}

#title {
    text-align: center;
    color: #3e3f40;
}

.title-img {
    width: 90%;
    padding-left: 5%;
}

h2::first-letter{
    font-size: 150%;
}

#description {
    font-weight: 900;
    line-height: 1.45;
}

.reviews{
    font-style: italic;
}

#review_users{
    text-decoration: underline;
}

dd[review]{
    background-color: hsla(0, 0%, 89%, 1);
}

a:link{
    color: rgb(0,0,0);
    text-decoration: none;
}

a:hover{
    color: hsl(234, 100%, 50%);
    text-decoration: underline;
}